/* BALISES GENERALES */
html{
  font-size: 62.5%;

}

body{
  background-color: color(bg-main);



  /*
  color :
  font-family:
  font-size:
  font-weight:
  */

}

header{
  border: 1px solid color(bd-elmtPPL);

}

/* CLASSES PRINCIPALES */
.main-container{
  display: grid;
  place-items: center;
  max-width: value(width-container);
}
