/* LES VARIABLES */
$colors:(
  'bg-main':#33264E,
  'bg-footer': #362953,
  'bg-elmt': #dfdfdf,
  'bg-elmt1': gray,

  'txt-ppl': #fff,
  'txt-second': #000,

  'link-important': #EE3E52,

  'but1': #FF6071,
  'but2': #FF7E8E,

  'cat1': #673AB7,
  'cat2': #1E88E5,
  'cat3': #27CC81,
  'cat4': #38C4D1,
  'cat5': #E91E63,
  'cat6': #413261,

  'resSoc1': #63CDF1,
  'resSoc2': #507CBE,
  'resSoc3': #D62976,
  'resSoc4': #EE3E52,

  'bd-elmtPpl': #27CC81,
  'bd-elmtSecond': orange,
  'bd-elmtTer': tomato

);

$values:(
  'width-container': 160rem,
  'hight-header':36rem,
  'width-carroussel': 120rem,
  'height-carroussel': 48rem,
  'width-articles-container': 80rem,
  'width-article': 80rem,
  'height-article': 15rem,
  'width-image-article': 78.6rem,
  'height-image-article': 49.1rem,
  'width-aside': 33.2rem

);

/* IL S'AGIT d'un OBJET et on va donc préfixer à # */
$fonts:(
  logo: #{
    "Vampiro One", cursive
  },
  title: #{
    "Playfair Display", serif
  },
  text:#{
    "Mulish", sans-serif
  }
);
