/* scss => css POUR LE ASIDE sidebar */
.post{
  display:flex;
}
.post-item{
  border: 2px solid color(bd-elmtSecond);
  width: 30%;
  img{
    max-width: 75%;
  }
}

.m-post-item{
  border: 2px solid color(bd-elmtSecond);
}

.sidebar h2, .sidebar h3{
  font-family: font(title);
  text-transform: capitalize;

}
.decoration{
  display: flex;
}
.element{
  width: 50%;
  height: 2px;
  background-color: red;
  margin-top: 1.4rem;
  margin-left: 1rem;
}


