.carrousel{
  display: flex;
  width: map-get($values,'width-carroussel');
  height: map-get($values,'height-carroussel');
  border: 2px solid red;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../../images/pexels-lisa-fotios-1882410.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  /* Jeremy a CENTRE la présentation de la MAQUETTE grâce au display: grid et au place-items: center */
  display: grid;
  place-items: center;
}
.photo{
  max-width: 10%;
  height: auto;
}

.texte1{
  h1{
    font-family: font(title);
  }
}
.rectangle{

  max-width: 35rem;
  height: 5rem;
  display: flex;
  justify-content: space-around;

    p{
      display: inline;
    }
}

.cercle p::before{
  content: "";
  border-radius: 50%;
  height: 0.8rem;
  width: 0.8rem;
  background-color: color(cat3);
  display: inline-block;
  margin: 0rem 1rem 0rem 1rem;
}