/* ICI commence le code SCSS pour le HEADER main-header */

.main-header{
  /*height: value(hight-header); */
  background-color: color(bg-main);
  width: 100%;
}
//première DIV
.headerLink{
  display: flex;
  justify-content: space-between;
 /* height: 65%; */
  margin-top: 2rem;
  padding-top: 1rem;
}
h1{
  font-family: font(logo);
  color: inherit;
  background-color: inherit;
}

.social{
  max-width: 30%;
  display: flex;
  margin-left: 1rem;
}
.title{
  max-width: 30%;
}
.reseach{
  text-align: right;
  max-width: 30%;
  margin-right: 1rem;
}
// deuxième DIV
.menu-ppl{
/*  max-height: 40%; */
  margin-top: 5rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid white;

}
.menu-ppl nav ul{
  display:flex;
  justify-content: center;
  margin-left: 3rem;

}
.menu-ppl nav ul li{
  padding: 2rem;
  text-transform: capitalize;

}
.menu-ppl nav ul li a{
  text-decoration: none;
  color: color(txt-ppl);

}
